<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AllTests">
  <test name="AllTestsSuite">
    <packages>
      <package name="tests" /> <!-- This includes all tests in that package -->
    </packages>
    <classes>
    <class name="tests.CartPageValidation" />
    <class name="tests.E2ETest" />
    <class name="tests.Errorvalidation" />
    <class name="tests.InventoryPageValidation" />
    <class name="tests.MainMenuValidation" />
  </classes>
  </test>
</suite>
